<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="../static/img/favicon.png" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/material-bootstrap-wizard.css" rel="stylesheet" />

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="image-container set-full-height" style="background-image: url('../static/img/locadora-de-carros.jpg')">

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="wizard-container">
            <div class="card wizard-card" data-color="purple" id="wizard">

              <nav class="navBar">
                <ul>
                  <li><a href="{{ url_for('index') }}">Home</a></li>
                  <li><a href="{{ url_for('rents') }}">Aluguéis</a></li>
                  <li><a href="{{ url_for('vehicles') }}">Veículos</a></li>
                  <li><a href="{{ url_for('client') }}">Clientes</a></li>
                  <li><a href="{{ url_for('categories') }}">Categorias</a></li>
                </ul>
              </nav>

              {% block content %}{% endblock %}

            </div>
            
          </div>
        </div> 
      </div>
    </div> 
  </div> 

</body>
</html>