<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
</head>
<body>
    <h1>Dados do Cliente</h1>
    <form action="/cadastrar_cliente" method="POST">
        <label for="id">ID:</label><br>
        <input type="text" name="id" id="id" required><br>
        <label for="nome">Nome:</label><br>
        <input type="text" name="nome" id="nome" required><br>
        <label for="cpf">CPF:</label><br>
        <input type="text" name="cpf" id="cpf" required><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>